// you can change colors here
$accentColor:#3eaf7c;
$theme-color: #ffffff;  //主题文字颜色，包括导航栏的首页的文字颜色
$textColor: #000000;   //导航栏标题头颜色 所有文章正文颜色
$borderColor:#676767; //底线颜色
$codeBgColor:#ecf4fa; //暂时没发现
$arrowBgColor:#ff0000; //暂时没发现
$bgColor :#ffffff;//背景色
$bgColorLight:#ff00a6; //暂时没发现
$bgColorBlur: #ff00a6; //暂时没发现

$boxShadowColor :#f0f1f2;